*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.images{
    display: flex;
    align-items: start;
    justify-content: center;
    opacity: .75;
    width: 30%;
    height: 100vh;
    background-size: cover;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
}

@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

.odin h1{
    color: #fff;
    font-family: norse-bold, sans-serif;
    font-size: 100px;
    opacity: 1;
}

.odin img{
    opacity: 1;
}

.odin{
    display: flex;
    align-items: center;
    margin-top: 10rem;
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.text{
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 0rem;
}

.fields{
    display: flex;

    gap: 2px;
}

.fields *{
    padding: 4px;
    margin: 5px;
}

.form{
    background-color: #f8faf7;
    width: 100%;
    box-shadow: 3px 3px 10px #aaa;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.text strong, button{
    margin-left: 2rem;
}

input{
    border-radius: 4px;
    border: 1px solid #E5E7EB;
}

input:focus{
    outline: 2px solid rgb(137, 137, 239);
    box-shadow: 1px 1px 10px #F0F0F0;
}

input[type="password"]{
    outline: 2px solid #F0F0F0;
}

button{
    padding: 1rem;
    width: 12rem;
    border: none;
    border-top-left-radius: 10px;
    background-color: #3d5c29;
    color: #fff;
    font-weight: light;
    margin-top: 1rem;
    border-bottom-right-radius:10px;
}

span{
    color: #3d5c29;
}
span:hover{
    font-size:20px;
}



.tag-line{
    font-size: 23px;
    font-style: italic;
    font-weight: light;
    margin-left: 3rem;
    margin-top: 1rem;
}

.input-container {
  position: relative;
  margin-top: 25px;
}

.input-container input {
  width: 100%;
  padding: 14px 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
   
background-image: linear-gradient(to right, #c5e3b3, #d3e8c8);
border: none;
padding: 10px;


}

/* Default: label ABOVE input */
.input-container label {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 0 5px;
  font-size: 10px;
  color: #5264AE;
  transition: all 0.2s ease;
  pointer-events: none;
  border-radius:3px;
  background-color:#e8fadc;
  color:#446130;
}

/* On focus → move label INSIDE */
.input-container input:focus + label {
  top: -14px;
  font-size: 10px;
  color:#446130;
  
  
}

/* On valid → keep label INSIDE */
.input-container input:valid + label {
  top: -8px;
  font-size: 12px;
  
  color:#446130;
  
}




























/* style for login page */

.login-container{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;

}
.backgroundImage{

}